* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* Utilities  */

/* HEADER  */

.top-header {
    height: 70px;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
   
}

.top-header i {
    color: white;
}